<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="lib/angular.js"></script>
    <script src="js/index.js"></script>
    <title>Document</title>
        <style>
        
        .input-form div{
            margin-top: 20px;
            margin-bottom:20px;

        }
        
        .word-position{
          
          width: 113px;
          display: inline-block;
        }
        
        </style>

</head>



<body ng-app="myapp" ng-controller="indexcontroller">
    <div class="input-form">
        <div>
           <div class="word-position" > 会员id：</div> <input type="text" ng-model="memberId">
        </div>


        <div>
           <div class="word-position"> 昵称：</div> <input type="text" ng-model="memberName">
        </div>
        

        <div>
            <div class="word-position"> 会员等级：</div><input type="text"  ng-model="memberLevel">
        </div>

        <div>
            <div class="word-position">  会员加入日期：</div><input type="text"  ng-model="memberCreateDate">
        </div>

       <div><input type="button" value="search" ng-click="search()"/></div>
    </div>


<table>

    <thead>
         <tr>
                        <th>No</th>
                        <th>会员id</th>
                        <th>昵称</th>
                        <th>邮箱</th>
                        <th>电话号码</th>
                        <th>地址</th>
                        <th>会员加入日期</th>
                        <th>会员状态</th>
                        <th>状态变更</th>
        </tr>
    </thead>


<tbody>
                <tr ng-repeat="list in mylist">
                            <td>
                                <div ng-bind="list.No"></div>
                            </td>
                            <td>
                                <div ng-bind="list.memberId"></div>
                            </td>
                            <td>
                                <div ng-bind="list.memberName"></div>
                            </td>
                            <td>
                                <div ng-bind="list.mailAddress"></div>
                            </td>
                            <td>
                                <div ng-bind="list.phoneNum"></div>
                            </td>
                            <td>
                                <div ng-bind="list.place"></div>
                            </td>
                            <td>
                                <div ng-bind="list.memberCreatedAt"></div>
                            </td>
                            <td>
                                <div ng-bind="list.memberStatus"></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                </tr>
</tbody>

</table>


  
</body>
</html>