<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="lib/angular.js"></script>
    <script src="js/sample.js"></script>
</head>
<body ng-app="myapp" ng-controller="samplecontroller">

<div class="input-form">
    <div>
        <div class="word-position">会员id：</div><input type="text" ng-model="memberId"/>
        <div class="input-error-msg" ng-bind="Msg.memberIdErrorMsg"> </div>
    </div>
    <div>
        <div class="word-position">昵称：</div><input type="text" ng-model="memberName"/>
    </div>
    <div>
        <div class="word-position">会员等级：</div><input type="text" ng-model="memberLevel"/>
        <div class="input-error-msg" ng-bind="Msg.memberLevelErrorMsg"> </div>
    </div>
    <div>
        <div class="word-position">会员加入日期：</div><input type="text" ng-model="memberCreatedAt"/> ~ <input type="text" ng-model="memberCreatedTo"/>
        <div class="input-error-msg" ng-bind="Msg.memberCreatedDateErrorMsg"> </div>
    </div>
</div>

<div class="user-list-btn">
    <input type="button" value="清空" ng-click="clear()"/>
    <input type="button" value="检索" ng-click="search()"/>
</div>

<table class="user-list" ng-if="tableDisplayFlag">
    <thead>
        <tr>
            <th>No</th>
            <th>会员id</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>电话号码</th>
            <th>地址</th>
            <th>会员加入日期</th>
            <th>会员状态</th>
            <th>状态变更</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="list in response.data">
            <td>
                <div ng-bind="list.No"></div>
            </td>
            <td>
                <div ng-bind="list.memberId"></div>
            </td>
            <td>
                <div ng-bind="list.memberName"></div>
            </td>
            <td>
                <div ng-bind="list.mailAddress"></div>
            </td>
            <td>
                <div ng-bind="list.phoneNum"></div>
            </td>
            <td>
                <div ng-bind="list.place"></div>
            </td>
            <td>
                <div ng-bind="list.memberCreatedAt"></div>
            </td>
            <td>
                <div ng-bind="showMemberLevel(list.memberLevel)"></div>
            </td>
            <td>
                <div>
                    <input type="button" value="升级" ng-click=""/>
                    <input type="button" value="降级" ng-click=""/>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>